*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #831B1B;
    background-size: cover;
    background-position: center;
}
.ambulancia * {
  box-sizing: border-box;
}
.ambulancia {
  background: #ffe4e1;
  width: 430px;
  height: 932px;
  position: relative;
  overflow: hidden;
}
.rectangle-5 {
  border-radius: 0px;
  position: absolute;
  left: 7px;
  top: 22px;
  overflow: visible;
}
.ser-ambulancia {
  text-align: left;
  font: 700 29px "Inter", sans-serif;
  position: absolute;
  left: 85px;
  top: 41px;
  width: 457px;
  height: 39px;
}
.ser-ambulancia-span {
  color: #000000;
  font: 700 29px "Inter", sans-serif;
}
.ser-ambulancia-span2 {
  color: #831b1b;
  font: 700 29px "Inter", sans-serif;
}
.ser-ambulancia-span3 {
  color: #000000;
  font: 700 29px "Inter", sans-serif;
}
.arrow-left {
  position: absolute;
  left: 30px;
  top: 41px;
  overflow: visible;
}
.rellene-los-espacios-a-continuacion-con-los-datos-del-paciente {
  color: rgba(0, 0, 0, 0.46);
  text-align: left;
  font: 400 16px "Inter", sans-serif;
  position: absolute;
  left: 36px;
  top: 398px;
  width: 305px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.firstname  input{
  background: white;
  border-radius: 10px;
  padding: 16px 9px 21px 18px;
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  width: 370px;
  position: absolute;
  left: 30px;
  top: 532px;
  border-color: transparent;
  
  
}
.sintomas-suceso {
  color: rgba(0, 0, 0, 0.55);
  text-align: left;
  font: 400 16px "Inter", sans-serif;
  position: relative;
}
.firstname2 input {
  background: var(--text, #ffffff);
  border-radius: 10px;
  padding: 16px 9px 21px 18px;
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  width: 370px;
  position: absolute;
  left: 30px;
  top: 456px;
  border-color: transparent;
}
.nombre-del-paciente {
  color: rgba(0, 0, 0, 0.55);
  text-align: left;
  font: 400 16px "Inter", sans-serif;
  position: relative;
}
.firstname3 input {
  background: var(--text, #ffffff);
  border-radius: 10px;
  padding: 16px 9px 21px 18px;
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  width: 370px;
  position: absolute;
  left: 30px;
  top: 692px;
  border-color: transparent;

}
.numero-de-contacto {
  color: rgba(0, 0, 0, 0.55);
  text-align: left;
  font: 400 16px "Inter", sans-serif;
  position: relative;
}
.firstname4 input{
  background: var(--text, #ffffff);
  border-radius: 10px;
  padding: 16px 9px 21px 18px;
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  width: 370px;
  position: absolute;
  left: 30px;
  top: 608px;
  border-color: transparent;

}
.direccion {
  color: rgba(0, 0, 0, 0.55);
  text-align: left;
  font: 400 16px "Inter", sans-serif;
  position: relative;
}
.firstname5 a{
  background: #000000;
  border-radius: 10px;
  padding: 24px 9px 24px 9px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 153px;
  height: 63px;
  position: absolute;
  left: 46px;
  top: 786px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  background-color: #000000;
  text-align: center;
  margin: 0;
  padding: 15px 30px;
  font-weight: 700;
  width: 35%; 
  border-radius: 10px;
  margin: 0 5px;
  
}
.solicitar a{
  color: #ffffff;
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  position: absolute;
}
.firstname6 a{
  background: #000000;
  border-radius: 10px;
  padding: 24px 9px 24px 148px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 153px;
  height: 63px;
  position: absolute;
  left: 215px;
  top: 786px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  background-color: #000000;
  text-align: center;
  margin: 0;
  padding: 15px 30px;
  font-weight: 700;
  width: 35%; 
  border-radius: 10px;
  margin: 0 5px;
 
}
.cancelar {
  color: #ffffff;
  text-align: left;
  font: 400 16px "Inter", sans-serif;
  position: relative;
}
.image-9 {
  width: 260px;
  height: 267px;
  position: absolute;
  left: 85px;
  top: 101px;
}