*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #831B1B;
    background-size: cover;
    background-position: center;

}
.historias-clinicas-boton * {
  box-sizing: border-box;
}
.historias-clinicas-boton {
  background: #ffe4e1;
  width: 428px;
  height: 926px;
  position: relative;
  overflow: hidden;
}
.rectangle-5 {
  background: #ffffff;
  border-radius: 10px 10px 0px 0px;
  width: 415px;
  height: 68px;
  position: absolute;
  left: 6px;
  top: 22px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.arrow-left {
  position: absolute;
  left: 29px;
  top: 42px;
  overflow: visible;
}
.historias-clinicas {
  text-align: left;
  font: 700 29px "Inter", sans-serif;
  position: absolute;
  left: 81px;
  top: 43px;
  width: 434px;
  height: 39px;
}
.historias-clinicas-span {
  color: #000000;
  font: 700 29px "Inter", sans-serif;
}
.historias-clinicas-span2 {
  color: #831b1b;
  font: 700 29px "Inter", sans-serif;
}
.historias-clinicas-span3 {
  color: #000000;
  font: 700 29px "Inter", sans-serif;
}
.historias-clinicas-span4 {
  color: #000000;
  font: 700 29px "Inter", sans-serif;
}
.historias-clinicas-span5 {
  color: #831b1b;
  font: 700 29px "Inter", sans-serif;
}
.historias-clinicas-span6 {
  color: #000000;
  font: 700 29px "Inter", sans-serif;
}
.firstname input{
    border-radius: 10px;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    padding: 20px 9px 23px 18px;
    display: flex;
    flex-direction: row;
    gap: 188px;
    align-items: center;
    justify-content: flex-start;
    width: 370px;
    position: absolute;
    left: 28px;
    top: 500px;
    background: white;
}
.n-mero-de-identificaci-n-del-paciente {
  color: rgba(0, 0, 0, 0.55);
  text-align: left;
  font: 400 16px "Inter", sans-serif;
  position: relative;
}
.firstname2 a {
  background: #000000;
  border-radius: 10px;
  padding: 24px 148px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 288px;
  height: 62px;
  position: absolute;
  left: 70px;
  top: 618px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  text-align: left;
  font: 400 16px "Inter", sans-serif;
  position: relative;
  text-decoration: none;
}


.image-16 {
  width: 302px;
  height: 303px;
  position: absolute;
  left: 63px;
  top: 160px;
}
