*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
background-color: #831B1B;
    background-size: cover;
    background-position: center;

}
.perfil-hospital-1 * {
  box-sizing: border-box;
}
.perfil-hospital-1 {
  background: #ffe4e1;
  width: 428px;
  height: 926px;
  position: relative;
  overflow: hidden;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.rectangle-5 {
  background: #ffffff;
  border-radius: 10px 10px 0px 0px;
  width: 415px;
  height: 68px;
  position: absolute;
  left: 6px;
  top: 22px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.text-align-justify {
  width: 31.03px;
  height: 29.81px;
  position: absolute;
  left: 33.15px;
  top: 42.49px;
  overflow: visible;
}
.frame-10 {
  display: flex;
  flex-direction: row;
  gap: 21px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 38px;
  top: 42px;
}
.arrow-left {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.perfil-hospital {
  text-align: left;
  font: 700 29px "Inter-Bold", sans-serif;
  position: relative;
}
.perfil-hospital-span {
  color: #000000;
  font: 700 29px "Inter-Bold", sans-serif;
}
.perfil-hospital-span2 {
  color: #701818;
  font: 700 29px "Inter-Bold", sans-serif;
}
.perfil-hospital-span3 {
  color: #000000;
  font: 700 29px "Inter-Bold", sans-serif;
}
.image-21 {
  width: 435px;
  height: 245px;
  position: absolute;
  left: -7px;
  top: 218px;
}
.frame-23 {
  background: #ffffff;
  border-radius: 20px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  padding: 12px 27px 12px 27px;
  display: flex;
  flex-direction: column;
  gap: 37px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 372px;
  height: 297px;
  position: absolute;
  left: 27px;
  top: 501px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.cod-hospital-001-bogota-d-c {
  color: #000000;
  text-align: center;
  font: 400 32px "Inter-Regular", sans-serif;
  position: relative;
  width: 320px;
  height: 111px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.somos-un-hospital-de-atenci-n-integral-con-un-enfoque-en-traumatologia-y-en-la-atenci-n-al-paciente {
  color: #000000;
  text-align: center;
  font: 400 24px "Inter-Regular", sans-serif;
  position: relative;
  width: 332px;
  height: 149px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hospital-san-juan-de-dios {
  color: #000000;
  text-align: center;
  font: 700 32px "Inter-Bold", sans-serif;
  position: absolute;
  left: 60px;
  top: 128px;
  width: 301px;
  height: 66px;
}
.frame-21 {
  display: flex;
  flex-direction: row;
  gap: 9px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 165px;
  height: 74px;
  position: absolute;
  left: 128px;
  top: 828px;
}
.frame-12  a {
  background: #831b1b;
  border-radius: 10px;
  padding: 40px 70px 40px 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 191px;
  height: 74px;
  position: relative;
  color: #ffffff;
  text-align: center;
  font: 400 20px "Inter-Regular", sans-serif;
  position: relative;
  width: 133px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
