*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #831B1B;
    background-size: cover;
    background-position: center;

}
.servicios-hospitalarios * {
  box-sizing: border-box;
}
.servicios-hospitalarios {
  background: #ffe4e1;
  width: 428px;
  height: 926px;
  position: relative;
  overflow: hidden;
}
.image-10 {
  width: 603.17px;
  height: 316px;
  position: absolute;
  left: -88px;
  top: 147px;
}
.image-11 {
  width: 322px;
  height: 316px;
  position: absolute;
  left: 53px;
  top: 531px;
}
.doctores {
  color: #000000;
  text-align: center;
  font: 700 16px "Inter", sans-serif;
  position: absolute;
  left: 151px;
  top: 105px;
  width: 125px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hospitales-servicios {
  color: #000000;
  text-align: center;
  font: 700 16px "Inter", sans-serif;
  position: absolute;
  left: 122px;
  top: 491px;
  width: 184px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-5 {
  background: #ffffff;
  border-radius: 10px 10px 0px 0px;
  width: 415px;
  height: 68px;
  position: absolute;
  left: 7px;
  top: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.arrow-left {
  position: absolute;
  left: 29px;
  top: 41px;
  overflow: visible;
}
.ser-hospitalarios {
  text-align: left;
  font: 700 29px "Inter", sans-serif;
  position: absolute;
  left: 81px;
  top: 38px;
  width: 434px;
  height: 39px;
}
.ser-hospitalarios-span {
  color: #000000;
  font: 700 29px "Inter", sans-serif;
}
.ser-hospitalarios-span2 {
  color: #831b1b;
  font: 700 29px "Inter", sans-serif;
}
.ser-hospitalarios-span3 {
  color: #000000;
  font: 700 29px "Inter", sans-serif;
}
